// Deep Vintage Button Styles
.button {
  background: $button-color;
  padding: 1.4rem 2.8rem;
  border: 3px solid $button-color;
  color: $white;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: $font-accent;
  letter-spacing: $letter-spacing-wider;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  box-shadow: 4px 4px 0 $vintage-coffee;
  @include bezier-transition(all, 0.3s, ease);

  &:hover {
    cursor: pointer;
    background: $button-hover;
    border: 3px solid $button-hover;
    text-decoration: none;
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0 $vintage-coffee;
  }

  &:active {
    transform: translate(0, 0);
    box-shadow: 2px 2px 0 $vintage-coffee;
  }
}

.button:disabled {
  opacity: 0.5;

  &:hover {
    cursor: not-allowed;
    transform: none;
    box-shadow: 4px 4px 0 $vintage-coffee;
  }
}

.button-link {
  @extend .button;
  background: none;
  color: $vintage-brown;
  border: none;
  box-shadow: none;
  font-weight: 600;

  &:hover {
    background: none;
    border: none;
    color: $vintage-gold;
    box-shadow: none;
    transform: none;
  }
}

.button-muted {
  @extend .button;
  background: $background-color-01;
  color: $paragraph-color;
  border: 2px solid $border-color;
  box-shadow: 3px 3px 0 $vintage-worn;

  &:hover {
    background: $background-color;
    border: 2px solid $border-color-focus;
    box-shadow: 5px 5px 0 $vintage-worn;
  }
}

.button-block {
  display: block;
  width: 100%;
}

.button-border {
  background: transparent;
  border: 3px solid $button-color;
  color: $button-color;
  box-shadow: 4px 4px 0 $vintage-worn;

  &:hover {
    background: $vintage-beige;
    border: 3px solid $button-color;
    box-shadow: 6px 6px 0 $vintage-worn;
  }
}

.button-danger {
  background: $vintage-faded-red;
  color: #fff;
  border-color: $vintage-faded-red;
  box-shadow: 4px 4px 0 darken($vintage-faded-red, 20%);

  &:hover {
    background: darken($vintage-faded-red, 10%);
    border-color: darken($vintage-faded-red, 10%);
    box-shadow: 6px 6px 0 darken($vintage-faded-red, 20%);
  }
}

.button-border-gray {
  border: 2px solid $border-color;
  color: $paragraph-color;
  box-shadow: 3px 3px 0 $vintage-worn;

  &:hover {
    border: 2px solid $border-color;
    background: $vintage-cream;
    box-shadow: 5px 5px 0 $vintage-worn;
  }
}

.button-small {
  font-size: 1.4rem;
  padding: 1rem 1.8rem;
  box-shadow: 3px 3px 0 $vintage-coffee;

  &:hover {
    box-shadow: 4px 4px 0 $vintage-coffee;
  }
}

.button-icon {
  display: flex;
  text-align: center;
  align-items: center;
  text-align: center;

  & * {
    font-size: inherit;
  }
}

// Vintage styled buttons
.button-vintage {
  @extend .button;
  background: $vintage-gold;
  border-color: $vintage-gold;
  color: $white;
  box-shadow: 4px 4px 0 $vintage-brown;

  &:hover {
    background: $vintage-gold-light;
    border-color: $vintage-gold-light;
    box-shadow: 6px 6px 0 $vintage-brown;
  }
}

.button-retro {
  @extend .button;
  background: $vintage-mustard;
  border-color: $vintage-mustard;
  color: $white;
  font-family: $font-bold-retro;
  letter-spacing: 0.1em;
  box-shadow: 4px 4px 0 $vintage-coffee;

  &:hover {
    background: darken($vintage-mustard, 5%);
    border-color: darken($vintage-mustard, 5%);
    box-shadow: 6px 6px 0 $vintage-coffee;
  }
}